/* Main container */
.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 40px; /* Remove top and bottom padding */
  background: url("../assets/contactusbg1.png") no-repeat center center;
  background-size: cover;
  color: white;
  min-height: 100vh;
  margin-top: 0; /* Ensure no margin on top */
}

/* Left content */
.left-content {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 50%;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.contact-info {
  background-color: rgba(127, 127, 127, 0.416);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffcc00;
}

.section-description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.contact-label {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.contact-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.contact-icon {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

.social-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ffcc00;
}

/* Map container */
.map-container {
  width: 100%;
  margin-top: 20px;
}

.map-image {
  width: 100%;
  border-radius: 10px;
}

/* Form container */
.form-container {
  flex: 1;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  max-width: 35%;
}

.contact-form {
  width: 100%;
  height: 80vh;
  border: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .form-container {
    max-width: 100%;
    width: 100%;
  }
}
